footer{
    background-color: $secondaryColor;
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin-left: 0px;
    padding-left: 10px;
    margin-bottom: 0%;
    
    .mail{
        height: 7em;
    }
    .ig{
        height: 4em;
    }

}