header{
    background-color: black;
    color: white;
    height: 60px;

    
     h1{
    font-family: $fontA;
    color: $fontColorA;
    font-size: 45px;

    }
}
@media screen and (max-width: 420px){
    header{
        background-color: black;
        color: white;
        height: 60px;
    
        
         h1{
        font-family: $fontA;
        color: $fontColorA;
        font-size: 30px;
    
        }
}
}