body{
    .inicio-imagen{  
    background-image: url(../images/porte単o.jpg);
    background-size:cover;
    min-height: 95vh;
    }
    main{
     div{
        div{
            div{
                .descripciones{
   
                    left: 200px;
                    justify-content: center;
                    align-items: center;
                    top:100px;
                    color: white;
                    padding: 15px;
                    overflow:auto;
                    border: 4px solid;
                    border-color: aquamarine;
                    font-size: 3vh;
                    margin-top: 10px;
                    margin-left: 20px;  
                    margin-bottom: 9vh;
                    opacity: 0.8;
                    backdrop-filter: blur(5px);
            }

            .tama単oVideoInicio{
  
                width: 750px;
                height: 420px;
                border-style: dotted;
                padding-left: 100px;
            }
            }

            nav{
                margin-top: 20vh;
                margin-left: 15vw;
               
               color: red;
                   
                    ul{
                        list-style: none;
                        
                        li{ 
                            .letras{
                                    font-size:30px;
                                    color: $secondaryColor;
                            }
                                
                            a{
                                opacity: 0.5;
                                margin-top: 20px;
                                width: 500px;
                                height: 70px;         
                             }
                            }

                        
                        }
                    
                }
            }
        }
    }
}
@media screen and (max-width: 420px){
    body{
    .inicio-imagen{  
    background-image: url(../images/porte単o.jpg);
    background-size:cover;
    min-height: 95vh;
    }
    main{
     div{
        div{
            div{
                .descripciones{
   
                    left: 200px;
                    justify-content: center;
                    align-items: center;
                    top:100px;
                    color: white;
                    padding: 15px;
                    overflow:auto;
                    border: 4px solid;
                    border-color: aquamarine;
                    font-size: 3vh;
                    margin-top: 10px;
                    margin-left: 20px;  
                    margin-bottom: 9vh;
                    opacity: 0.8;
                    backdrop-filter: blur(5px);
            }

            .tama単oVideoInicio{
  
                width: 100%;
                height: 300px;
                padding-left: 10px;
                
            }
            }

            nav{
                margin-top: 20vh;
                margin-left: 15vw;
               
               color: red;
                   
                    ul{
                        list-style: none;
                        
                        li{ 
                            .letras{
                                    font-size:30px;
                                    color: $secondaryColor;
                            }
                                
                            a{
                                opacity: 0.5;
                                margin-top: 20px;
                                width: 500px;
                                height: 70px;         
                             }
                            }

                        
                        }
                    
                }
            }
        }
    }




}
}