@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

$fontA: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

$mainColor: black;
$secondaryColor:rgb(248, 104, 104);
$fontColorA:white;