@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
* *::-moz-selection {
  background-color: black;
  color: aliceblue;
}
* *::selection {
  background-color: black;
  color: aliceblue;
}

header {
  background-color: black;
  color: white;
  height: 60px;
}
header h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  font-size: 45px;
}

@media screen and (max-width: 420px) {
  header {
    background-color: black;
    color: white;
    height: 60px;
  }
  header h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
    font-size: 30px;
  }
}
body .inicio-imagen {
  background-image: url(../images/porteño.jpg);
  background-size: cover;
  min-height: 95vh;
}
body main div div div .descripciones {
  left: 200px;
  justify-content: center;
  align-items: center;
  top: 100px;
  color: white;
  padding: 15px;
  overflow: auto;
  border: 4px solid;
  border-color: aquamarine;
  font-size: 3vh;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 9vh;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body main div div div .tamañoVideoInicio {
  width: 750px;
  height: 420px;
  border-style: dotted;
  padding-left: 100px;
}
body main div div nav {
  margin-top: 20vh;
  margin-left: 15vw;
  color: red;
}
body main div div nav ul {
  list-style: none;
}
body main div div nav ul li .letras {
  font-size: 30px;
  color: rgb(248, 104, 104);
}
body main div div nav ul li a {
  opacity: 0.5;
  margin-top: 20px;
  width: 500px;
  height: 70px;
}

@media screen and (max-width: 420px) {
  body .inicio-imagen {
    background-image: url(../images/porteño.jpg);
    background-size: cover;
    min-height: 95vh;
  }
  body main div div div .descripciones {
    left: 200px;
    justify-content: center;
    align-items: center;
    top: 100px;
    color: white;
    padding: 15px;
    overflow: auto;
    border: 4px solid;
    border-color: aquamarine;
    font-size: 3vh;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 9vh;
    opacity: 0.8;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  body main div div div .tamañoVideoInicio {
    width: 100%;
    height: 300px;
    padding-left: 10px;
  }
  body main div div nav {
    margin-top: 20vh;
    margin-left: 15vw;
    color: red;
  }
  body main div div nav ul {
    list-style: none;
  }
  body main div div nav ul li .letras {
    font-size: 30px;
    color: rgb(248, 104, 104);
  }
  body main div div nav ul li a {
    opacity: 0.5;
    margin-top: 20px;
    width: 500px;
    height: 70px;
  }
}
footer {
  background-color: rgb(248, 104, 104);
  height: 100%;
  width: 100%;
  font-size: 20px;
  margin-left: 0px;
  padding-left: 10px;
  margin-bottom: 0%;
}
footer .mail {
  height: 7em;
}
footer .ig {
  height: 4em;
}
footer .iconos {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .iconos .fab {
  padding: 1rem;
}

/*map*/
.fa-instagram {
  background-color: rgb(248, 104, 104);
}

.fa-twitter, .fa-whatsapp {
  background-color: rgb(0, 99, 230);
}

.fa-whatsapp {
  background-color: green;
}

/*Extend*/
.fa-twitter, .fa-whatsapp {
  display: flex;
  border-radius: 10px;
  justify-content: center;
}
.fa-twitter:hover, .fa-whatsapp:hover {
  background-color: aqua;
}

/*mixin*/
.estiloFooter div > a {
  font-size: 40px;
}

body .fotoFondoWho {
  margin: 0;
  background-image: url(../images/VOLEY\ \(2\).jpg);
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
}
body .fotoFondoWho .cajaHome {
  width: 30vw;
  height: 100px;
  border: 4px solid;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  display: flex;
  overflow: auto;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  opacity: 0.5;
}
body .fotoFondoWho .cajaHome:hover {
  opacity: 1;
}
body .fotoFondoWho .descripcionWhoIAm {
  left: 200px;
  justify-content: center;
  align-items: center;
  top: 100px;
  color: white;
  padding: 15px;
  width: 80vw;
  height: 50vhpx;
  overflow: auto;
  border: 4px solid;
  border-color: aquamarine;
  background-color: black;
  font-size: 3vh;
  margin-top: 10px;
  margin-left: 5vw;
  margin-bottom: 9vh;
  opacity: 0.8;
}

.slider-area {
  background: #262626;
  padding: 50px;
  position: relative;
  margin: 120px 0;
}

.carousel-control.left, .carousel-control.right {
  background: transparent;
}

.carousel-caption {
  position: static;
  padding-bottom: 15px;
  padding-top: 0;
}

.carousel-caption p {
  font-size: 45px;
}

@media screen and (max-width: 420px) {
  .carousel-caption p {
    font-size: 25px;
  }
}
.fotoFondoAchievements {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: white;
}
.fotoFondoAchievements .cajaHome {
  width: 30vw;
  position: relative;
  height: 100px;
  border: 4px solid;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  display: flex;
  overflow: auto;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  opacity: 0.5;
}
.fotoFondoAchievements .cajaHome:hover {
  opacity: 1;
}
.fotoFondoAchievements .descripcionesAch {
  left: 200px;
  justify-content: center;
  align-items: center;
  top: 100px;
  color: white;
  padding: 15px;
  overflow: auto;
  border: 4px solid;
  border-color: aquamarine;
  font-size: 3vh;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 9vh;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: rgb(253, 253, 253);
}
.fotoFondoAchievements .descripcionesAch ol {
  list-style: none;
}

img {
  height: 65vh;
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.fotoFondoMatches {
  height: 100vh;
  width: 100%;
  background-image: url(../images/saque.jpg);
  background-size: auto;
  font-family: "Oswald", sans-serif;
  margin: 0px;
  justify-content: space-between;
  align-content: flex-start;
  overflow: auto;
}
.fotoFondoMatches .cajaHome {
  width: 30vw;
  height: 100px;
  border: 4px solid;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  display: flex;
  overflow: auto;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  opacity: 0.5;
}
.fotoFondoMatches .cajaHome:hover {
  opacity: 1;
}
.fotoFondoMatches .descripciones {
  left: 200px;
  justify-content: center;
  align-items: center;
  top: 100px;
  color: white;
  padding: 15px;
  overflow: auto;
  border: 4px solid;
  border-color: aquamarine;
  font-size: 3vh;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 9vh;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.fotoFondoFullMatches {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/VOLEY\ 3.jpg);
  background-size: auto;
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  margin: 0px;
  justify-content: space-between;
  align-content: flex-start;
  overflow: auto;
}
.fotoFondoFullMatches main .tamañoVideoFull {
  width: 100%;
  height: 315px;
  opacity: 0.7;
  min-width: 400px;
}
.fotoFondoFullMatches main .tamanoVideoFull:hover {
  opacity: 1;
}
.fotoFondoFullMatches main .cajaHome {
  width: 30vw;
  height: 100px;
  border: 4px solid;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  display: flex;
  overflow: auto;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  opacity: 0.5;
}
.fotoFondoFullMatches main .cajaHome:hover {
  opacity: 1;
}

body .fotoConPapa {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/papa_y_yo_chapa_2\ _1920.jpg);
}
body .cajaHome {
  width: 30vw;
  height: 100px;
  border: 4px solid;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  display: flex;
  overflow: auto;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  opacity: 0.5;
}
body .cajaHome:hover {
  opacity: 1;
}
body .descripcionesCareer {
  width: 55%;
  left: 20px;
  justify-content: center;
  align-items: center;
  top: 100px;
  color: white;
  padding: 15px;
  overflow: auto;
  border: 4px solid;
  border-color: aquamarine;
  font-size: 3vh;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 9vh;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body .descripcionesCareer ul {
  list-style: none;
}

@media screen and (max-width: 420px) {
  body main {
    display: flex;
    flex-direction: column;
  }
  body .fotoConPapa {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-image: url(../images/papa_y_yo_chapa_2.jpg);
    background-position: center;
  }
  body .cajaHome {
    width: 100px;
    height: 100px;
    border: 4px solid;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    background-color: aliceblue;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    display: flex;
    overflow: auto;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 40px;
    opacity: 0.5;
  }
  body .cajaHome:hover {
    opacity: 1;
  }
  body .descripcionesCareer {
    width: 90%;
    justify-content: center;
    align-items: center;
    top: 100px;
    color: white;
    overflow: auto;
    border: 4px solid;
    border-color: aquamarine;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 9vh;
    opacity: 0.8;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  body .descripcionesCareer ul {
    list-style: none;
  }
}
.sinPadding {
  padding: 0;
}

@media screen and (max-width: 420px) {
  body main div div nav ul li .letras {
    font-size: 20px;
    color: rgb(248, 104, 104);
  }
  .descripcionInicialInicio {
    max-width: 80vw;
  }
  .videoInicioClass {
    margin: 0px;
  }
  .tamañoVideoInicio {
    max-width: 90vw;
    height: 30vh;
  }
  .cajaBotones {
    max-width: 90vw;
    font-size: 28px;
    margin-left: 0%;
  }
  .fondoDePagina {
    background-size: contain;
  }
  .cuadroWho {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
  }
  .cajaFull {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
  }
  .tamañoVideoFull {
    max-width: 90vw;
    height: 30vh;
    margin-top: 4px;
  }
  .descripciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
  }
  a.btn-light {
    width: 50vw;
  }
  nav {
    margin-top: 0;
  }
  header.color-header {
    height: 70px;
  }
  iframe {
    margin-left: 0;
  }
}/*# sourceMappingURL=estilo.css.map */