@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
* *::-moz-selection {
  background-color: black;
  color: aliceblue;
}
* *::selection {
  background-color: black;
  color: aliceblue;
}

header {
  background-color: black;
  color: white;
  height: 60px;
}
header h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  font-size: 45px;
}

body .inicio-imagen {
  background-image: url(../images/porteño.jpg);
  background-size: cover;
  min-height: 95vh;
}
body main div div div .descripciones {
  left: 200px;
  justify-content: center;
  align-items: center;
  top: 100px;
  color: white;
  padding: 15px;
  overflow: auto;
  border: 4px solid;
  border-color: aquamarine;
  font-size: 3vh;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 9vh;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body main div div div .tamañoVideoInicio {
  width: 750px;
  height: 420px;
  border-style: dotted;
  padding-left: 100px;
}
body main div div nav {
  margin-top: 20vh;
  margin-left: 15vw;
  color: red;
}
body main div div nav ul {
  list-style: none;
}
body main div div nav ul li .letras {
  font-size: 30px;
  color: rgb(248, 104, 104);
}
body main div div nav ul li a {
  opacity: 0.5;
  margin-top: 20px;
  width: 500px;
  height: 70px;
}

footer {
  background-color: rgb(248, 104, 104);
  height: 100%;
  width: 100%;
  font-size: 20px;
  margin-left: 0px;
  padding-left: 10px;
  margin-bottom: 0%;
}
footer .mail {
  height: 7em;
}
footer .ig {
  height: 4em;
}
footer .iconos {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .iconos .fab {
  padding: 1rem;
}

/*map*/
.fa-instagram {
  background-color: rgb(248, 104, 104);
}

.fa-twitter, .fa-whatsapp {
  background-color: rgb(0, 99, 230);
}

.fa-whatsapp {
  background-color: green;
}

/*Extend*/
.fa-twitter, .fa-whatsapp {
  display: flex;
  border-radius: 10px;
  justify-content: center;
}
.fa-twitter:hover, .fa-whatsapp:hover {
  background-color: aqua;
}

/*mixin*/
.estiloFooter div > a {
  font-size: 40px;
}

body .fotoFondoWho {
  margin: 0;
  background-image: url(../images/VOLEY\ \(2\).jpg);
  background-position: center;
  width: 100%;
  height: 100vh;
}
body .fotoFondoWho section .cajaHome {
  width: 30vw;
  height: 100px;
  border: 4px solid;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  display: flex;
  overflow: auto;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  opacity: 0.5;
}
body .fotoFondoWho section .cajaHome:hover {
  opacity: 1;
}
body .fotoFondoWho section .descripcionWhoIAm {
  left: 200px;
  justify-content: center;
  align-items: center;
  top: 100px;
  color: white;
  padding: 15px;
  width: 80vw;
  height: 50vhpx;
  overflow: auto;
  border: 4px solid;
  border-color: aquamarine;
  background-color: black;
  font-size: 3vh;
  margin-top: 10px;
  margin-left: 5vw;
  margin-bottom: 9vh;
  opacity: 0.8;
}

.fotoFondoAchievements {
  height: 100vh;
  width: 100%;
  background-image: url(../images/PELOTAS\ VOLEY.jpg);
}
.fotoFondoAchievements .cajaHome {
  width: 30vw;
  height: 100px;
  border: 4px solid;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  display: flex;
  overflow: auto;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  opacity: 0.5;
}
.fotoFondoAchievements .cajaHome:hover {
  opacity: 1;
}
.fotoFondoAchievements .descripciones {
  left: 200px;
  justify-content: center;
  align-items: center;
  top: 100px;
  color: white;
  padding: 15px;
  overflow: auto;
  border: 4px solid;
  border-color: aquamarine;
  font-size: 3vh;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 9vh;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.fotoFondoMatches {
  height: 100vh;
  width: 100%;
  background-image: url(../images/saque.jpg);
  background-size: auto;
  font-family: "Oswald", sans-serif;
  margin: 0px;
  justify-content: space-between;
  align-content: flex-start;
  overflow: auto;
}
.fotoFondoMatches .cajaHome {
  width: 30vw;
  height: 100px;
  border: 4px solid;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  display: flex;
  overflow: auto;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  opacity: 0.5;
}
.fotoFondoMatches .cajaHome:hover {
  opacity: 1;
}
.fotoFondoMatches .descripciones {
  left: 200px;
  justify-content: center;
  align-items: center;
  top: 100px;
  color: white;
  padding: 15px;
  overflow: auto;
  border: 4px solid;
  border-color: aquamarine;
  font-size: 3vh;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 9vh;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.fotoFondoFullMatches {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/VOLEY\ 3.jpg);
  background-size: auto;
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  margin: 0px;
  justify-content: space-between;
  align-content: flex-start;
  overflow: auto;
}
.fotoFondoFullMatches main .tamañoVideoFull {
  width: 580px;
  height: 315px;
  opacity: 0.7;
}
.fotoFondoFullMatches main .tamañoVideoFull:hover {
  opacity: 1;
}
.fotoFondoFullMatches main .cajaHome {
  width: 30vw;
  height: 100px;
  border: 4px solid;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  display: flex;
  overflow: auto;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  opacity: 0.5;
}
.fotoFondoFullMatches main .cajaHome:hover {
  opacity: 1;
}

body .fotoConPapa {
  width: 100%;
  height: 100%;
  background-image: url(../images/papa_y_yo_chapa_2\ _1920.jpg);
}

.sinPadding {
  padding: 0;
}

@media screen and (max-width: 420px) {
  body main div div nav ul li .letras {
    font-size: 20px;
    color: rgb(248, 104, 104);
  }
  .descripcionInicialInicio {
    max-width: 80vw;
  }
  .grillaInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
  }
  .videoInicioClass {
    margin: 0px;
  }
  .tamañoVideoInicio {
    max-width: 90vw;
    height: 30vh;
  }
  .cajaBotones {
    max-width: 90vw;
    font-size: 28px;
    margin-left: 0%;
  }
  .fondoDePagina {
    background-size: contain;
  }
  .cuadroWho {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
  }
  .cajaFull {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
  }
  .tamañoVideoFull {
    max-width: 90vw;
    height: 30vh;
    margin-top: 4px;
  }
  .descripciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
  }
  .fotoConPapa {
    width: 400px;
    height: 600px;
    margin-left: 0;
    background-size: cover;
  }
  a.btn-light {
    width: 50vw;
  }
  nav {
    margin-top: 0;
  }
  header.color-header {
    height: 70px;
  }
  iframe {
    margin-left: 0;
  }
}/*# sourceMappingURL=estilo.css.map */